

<!-- templates/payment_success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="refresh" content="10;URL='/'"/>
    <title>Payment Received</title>
    <!-- Add your CSS styles or link to external stylesheets here -->
</head>
<body>
    <div class="payment-success-container">
        <h1>Payment Received Successfully!</h1>
        <div class="animation-container">
            <!-- Add your animation elements or scripts here -->
            <img src="/static/images/check.png" alt="Payment Success Animation">
        </div>
        <p>Thank you for your payment.</p>
    </div>
    
</body>
</html>
